.back {
  /*     flex: 0.25; */
  /* top: 50px; */
  background: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: fit-content;
  padding-bottom: 10px;
}
.userProfile__top {
  position: relative;
  padding-top: 30px;
}
.avatar__profile__post {
  margin-bottom: 0px !important;
  width: 120px !important;
  height: 120px !important;
/*   border-radius: 200%; */
  border: 2px solid white;
}
.button__profile__follow {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 12px 8px;
  background: #3cb4e5 !important;
  color: white !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #ddddddb7;
  border-bottom: none;
  font-size: 10px !important;
}
.button__profile__follow:hover {
  background: #65baaf !important;
  color: white !important;
}
.button__profile__hire {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 12px 8px;
  background: white !important;
  color: #3cb4e5 !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #ddddddb7;
  border-bottom: none;
  font-size: 10px !important;
}

.button__profile__hire:hover {
  background: #65baaf !important;
  color: white !important;
}
.line__profile {
  border-color: gray;
  /* margin: 0px; */
  margin-bottom: 15px;
  margin-top: 15px;
}
.link__profile {
  padding: 4px 0;
  color: #3cb4e5;
  font-size: 12px;
  font-weight: 600;
  list-style: none;
}
.avatar__circle {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 3px solid white;
  position: absolute;
  top: -28% !important;
  left: 28% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is_open_to_work_profile_p {
  font-size: 70%;
}