.back{
/*     flex: 0.25; */
    /* top: 50px; */
    background: white;
    position: sticky;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: fit-content;
    padding-bottom: 10px;
}
.avatar__profile{
    margin-bottom: 15px;
    width: 90px !important;
    height: 90px !important;
    border-radius: 200%;
    border: 2px solid white;
}
.button__profile__follow{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 12px 8px;
    background: #3cb4e5 !important;
    color: white !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #ddddddb7;
    border-bottom: none;
    font-size: 10px !important;
}
.button__profile__follow:hover{
    background: #65BAAF !important;
    color: white !important; 
}
.button__profile__hire{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 12px 8px;
    background:white !important;
    color: #3cb4e5 !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #ddddddb7;
    border-bottom: none;
    font-size: 10px !important;
}

.button__profile__hire:hover{
    background: #65BAAF !important;
    color: white !important;
}
.line__profile{
    border-color: gray;
    /* margin: 0px; */
    margin-bottom: 15px;
    margin-top: 15px;
}
.link__profile{
    padding: 4px 0;
    color: #3cb4e5;
    font-size: 12px;
    font-weight: 600;
    list-style: none; 
}