.container1{
  margin-top:20px;
}
.portfolio_title1 {
  text-align: left;
  margin: 20px;
}
.portfolio1 {
  background: white;
  position: sticky;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: fit-content;
  }
   
.proyecto {
  background: white;
  position: sticky;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: fit-content;
  padding-bottom: 10px;
  margin-top: 20px;
  margin:20px;
 }
 .backBody{
   background:#E8F4F2;
 }
.button{
  background:#B4DCD6 !important;
  
}

.portfolio_no_info_p {
  margin-top: 3em;
  margin-bottom: 3em;
}