.back {
  background: white;
  border-radius: 1px;
  height: fit-content;
  padding: 25px 0;
}
.button__jobs {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  font-size: 10px !important;
  color: #65baaf !important;
}
.h3__filter {
  color: #3cb4e5 !important;
}
.h3__skill {
  color: black !important;
  text-align: initial !important;
  padding-left:25px !important;
  font-size: 15px !important;
}
.check__jobs{
    color: #65baaf !important;
}
.text__h4{
    text-align: start;
    
    color: #65baaf !important;
}
.TextField__filter{
  background: #65baaf !important;
  opacity: 0.4;

}
.aling__filter{
  align-content: flex-start !important;
}
.text__h4__center{
  color: #65baaf !important;
  text-align: center !important;
  padding: 0 !important;
}
.select__multiple{
  width: 80% !important;
  border: 1px solid #65BAAF !important;
}