.back {
  background: white;
  border-radius: 4px;
  height: fit-content;
  padding: 25px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.button__jobs {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  font-size: 10px !important;
  color: #65baaf !important;
}
.h3__filter {
  color: #3cb4e5 !important;
}
.h3__skill {
  color: black !important;
  text-align: center !important;
  font-size: 15px !important;
}
.check__jobs{
    color: #65baaf !important;
}
.text__h4{
    text-align: start;
    
    color: #65baaf !important;
}
.TextField__filter{
/*   background: #65baaf !important;
  opacity: 0.4; */
  padding:0 !important;

}
.aling__filter{
  align-content: flex-start !important;
}
.text__h4__center{
  color: #65baaf !important;
  text-align: center !important;
  padding: 0 !important;
}
.select__multiple{
  width: 100% !important;
  border: 1px solid #65BAAF !important;
}
.filter__refresh{
  text-align: center !important;
}
.button__filter{
  display: flex;
  flex-direction: column;
  background: #3cb4e5 !important;
  color: white !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #ddddddb7;
  border-bottom: none;
  font-size: 10px !important;
  text-align: center !important;
}
.back__filters{
  background: white;
  border-radius: 4px;
  height: fit-content;
  padding: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.text__aling__filter{
  text-align: center !important;
}
.h3__filters{
  color: #3cb4e5 !important;
  text-align: center !important;
}